[DEFAULT]
; NOTE: Values must be valid JSON

; This must be set per project
package = null
distribution = "{package}"

; Local
venv = ".env"
; Default bin directory; will be added to local $PATH
bin.dir = "{venv}/bin"
; Additional bin directories; will be added to local $PATH
bin.dirs = [
        "node_modules/.bin",
        "{package}:static/node_modules/.bin"
    ]
bin.python = "{bin.dir}/python"
bin.pip = "{bin.dir}/pip"
wsgi_file = "{package}/wsgi.py"

; Pip
pip.version = "9.0.1"
pip.requirements = "requirements.txt"

; Local paths
path.build.root = "{cwd}/build/{version}"
path.build.dist = "{path.build.root}/dist"

; Django
django_settings_module = "{package}.settings"
local_settings_file = "local.{env}.cfg"

; Database
db.type = "postgresql"
db.host = "localhost"
db.name = "{package}"
db.user = "{package}"

service.user = "{current_user}"
service.group = ""

; Remote connection info

; User to connect as
remote.user = "{current_user}"
remote.host = "hrimfaxi.oit.pdx.edu"
; User to run commands as using `sudo -u`
remote.run_as = "{service.user}"
remote.extra_path = "/usr/pgsql-9.4/bin"

; Remote paths

; Project root directory
remote.path.root = "/vol/www/{package}"
; Pointer to active build for env (stage, prod)
remote.path.env = "{remote.path.root}/{env}"
remote.path.wsgi_dir = "{remote.path.env}/wsgi"
remote.path.wsgi_file = "{remote.path.wsgi_dir}/wsgi.py"
; Media and static directories for env
remote.path.media = "{remote.path.root}/media/{env}"
remote.path.static = "{remote.path.root}/static/{env}"

; Build root for env; contains all the builds for an env
remote.build.root = "{remote.path.root}/builds/{env}"
; Where the current build will be built and what remote.path.env will end up pointing at
remote.build.dir = "{remote.build.root}/{version}"
remote.build.local_settings_file = "{remote.build.dir}/local.cfg"
; Virtualenv for build
remote.build.make_venv = "virtualenv -p python3"
remote.build.venv = "{remote.build.dir}/.env"
remote.build.bin = "{remote.build.venv}/bin"
remote.build.pip = "{remote.build.bin}/pip"
remote.build.python = "{remote.build.bin}/python"
; Source distributions for build
remote.build.dist = "{remote.build.dir}/dist"
remote.build.manage_template = "arctasks:templates/manage.py.template"
remote.build.manage = "{remote.build.dir}/manage.py"
remote.build.restart_template = "arctasks:templates/restart.template"
remote.build.restart = "{remote.build.dir}/restart"
remote.build.wsgi_dir = "{remote.build.dir}/wsgi"
remote.build.wsgi_file = "{remote.build.wsgi_dir}/wsgi.py"

; Pip root directory for env
remote.pip.root = "{remote.path.root}/pip/{env}"
; Shared pip cache for env
remote.pip.cache_dir = "{remote.pip.root}/cache"
; Shared pip wheel dir for env
remote.pip.wheel_dir = "{remote.pip.root}/wheels"
; ARC's local package index
remote.pip.find_links = "https://cdn.research.pdx.edu/pypi/dist/"

[test]
local_settings_file = "local.base.cfg#test"

[stage]
db.host = "merope.rc.pdx.edu"
db.name = "{package}_stage"
db.user = "{db.name}_l"

[prod]
db.host = "postgresql.rc.pdx.edu"
db.name = "{package}"
db.user = "{db.name}_l"

[vagrant]
remote.host = "10.0.0.10"
service.user = "vagrant"
service.group = "apache"
