[DEFAULT]
extends = "arctasks:commands.cfg"

; Target platform definitions
python.version = "3.6"
remote.append_path = ""
remote.python.version = "3.6"

; Configuration file definitions
remote.uwsgi.init_file = "arctasks.aws:templates/uwsgi.conf"
remote.uwsgi.config_file = "arctasks.aws:templates/uwsgi.ini"
remote.nginx.config_file = "arctasks.aws:templates/nginx.conf"
remote.nginx.csp_policy = "default-src 'unsafe-inline' *.wdt.pdx.edu *.rc.pdx.edu cdn.research.pdx.edu"

; Infrastructure definitions
infrastructure.region = "us-west-2"
infrastructure.availability_zone = "us-west-2a"
infrastructure.ec2.image = "ami-6df1e514"
infrastructure.efs.fsid = ""
infrastructure.efs.mount_point = "/vol/share"
infrastructure.ebs.deletion_policy = ""
infrastructure.rds.version = ""
infrastructure.es.version = ""

; Default parameters
defaults.runcommands.runners.commands.remote.timeout = 120

[dev]

[testing]

[stage]
infrastructure.efs.fsid = "fs-5f6ec1f6"
infrastructure.ebs.deletion_policy = "Delete"

infrastructure.vpc_stack_name = "vpc-stage"
infrastructure.dns_zone = "stage.wdt.pdx.edu"
infrastructure.internal_dns_zone = "stage-internal"

domain_name = "${package}.stage.wdt.pdx.edu"
remote.host = "${package}.${infrastructure.internal_dns_zone}"
remote.deploy_host = "${package}.${infrastructure.internal_dns_zone}"

[prod]
infrastructure.efs.fsid = ""
infrastructure.ebs.deletion_policy = "Retain"

infrastructure.vpc_stack_name = "vpc-prod"
infrastructure.dns_zone = "wdt.pdx.edu"
infrastructure.internal_dns_zone = "internal"

domain_name = "${package}.wdt.pdx.edu"
remote.host = "${package}.${infrastructure.internal_dns_zone}"
remote.deploy_host = "${package}.${infrastructure.internal_dns_zone}"
